body {
    background-color: #fafcfe;
    color: #05111a;
}

div.navbar {
    background-color: #3d97db;
    color: #05111a;
}

div.navbar img{
    width: 10%;
}




footer {
    background-color: #05111a;
    color: #fafcfe;
}


