@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins' , sans-serif;
    background-color: #fafcfe;
    color: #05111a;
    margin: 0;
}

header div.navbar .logo image{
    width: 100px;
}

div.navbar {
    background-color: #05111a;
    color: #fafcfe;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
    text-decoration: none;

}

.nav {
    padding: 20px;
    display: flex;

}

div.navbar .nav a{
    text-decoration: none;
    color: #fafcfe;
    padding-right: 10px;
}

div.navbar .logo{
    display: flex;
    color: #fafcfe;
}

div.navbar img{
    margin: 10px;
    width: 40px;
    height: 40px;
}

div.Titre{
    margin-top: 50px;
    height: 300px;
    border: 0px solid #05111a;
    border-radius: 0px;
    width: 100%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 180deg, #05111a 10%, #fff 100% );
}

div.Titre .visutitre {
    background-color: #e1ae5b;
    padding: 10px;
    opacity: 100%;
}

div.Titre .visutitre h1 {
    font: 2em sans-serif;
    border: #05111a;
    opacity: 100%;
}


div.quest{
    padding-top: 100px;
    padding-left: 10px;
}

.result{
    display: flex;
    justify-content: center;
}

table{
    margin-top: 70px;
    width: 40%;
    border: 2px solid #05111a;
    border-collapse: collapse;
}


table thead tr th{
    border: 2px solid #05111a;
}

table tbody tr td{
    border: 2px solid #05111a;

}


.map img{
    margin-top: 30px;
    width: 50%;
}


footer {
    margin-top: 500px;
    height: 100px;
    background-color: #05111a;
    color: #fafcfe;
    margin-bottom: 0;
    padding-bottom: 0;
}


